<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div class="container">
    <table >
        <thead>
        <tr>
            <th>Car name</th>
            <th>Price</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getModel()}">Name</td>
            <td th:text="${car.getPrice()}">Position</td>
            <td th:text="${car.getYear()}">Office</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>